@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dark #darkBrandLogo {
  filter: invert(1) hue-rotate(200deg);
}

.customButton {
  overflow: hidden;
  display: inline-block;
}
.customButton button {
  padding: 8px 15px 8px 15px;
  background: #fdc131;
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  position: relative;
  transition-delay: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  display: inline-block;
}
.customButton button:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #8cacc0;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 8px;
}
.customButton:hover button {
  color: white;
}
.customButton button:hover:before {
  transform: scale(1, 1);
  transform-origin: top left;
}
.text {
  position: relative;
}
